.like-button {
    color: #888;
    font-size: 1.5em;
    font-family: "Heebo", sans-serif;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin-top: 20px;
    
  }
  .like-button:hover {
    color: indianred;
  }
  .like-button:active {
    transform: scale(0.95);
  }
  .like-button.selected {
    color: #fff;
    background-color: indianred;
    border-color: indianred;
  }
  .like-button .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
  }
  
  body {
    text-align: center;
  }

  .slds-modal__container {
    max-width: 80% !important;
    width: 80% !important;
}

p {
  font-family:verdana;
  font-size:15px;

}

h1 {
  color:darkblue;
  font-family:verdana;
  font-size:30px;
  text-decoration: underline;
}

img {
  width: 300px;
  height: 440px;
}

.rate {
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

/*
.rate>.chose~label{
  color: #ffc700;
}*/


.rate:not(:checked)>.chose~label{
  color: #ffc700;
}



/*rate> .chose~label{
  color: #ffc700;
}*/