img {

    max-height: 310px;
    min-width: 237px;
    min-height: 310px;
    max-width:fit-content;

}

img:hover {
    margin: 5px 40px;

   }

   .rate {
    height: 46px;
    padding: 0 10px;
}


div.static {
    position: static;
  }

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate>.selected~label{
    color: #ffc700;
}
.rate> .selected~label{
    color: #ffc700;
}
